
.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  background-color: #111 !important;         
  border: 1px solid #1faa59 !important;      
  border-radius: 10px !important;
  color: white !important;
  overflow: hidden;
  font-size: 14px;
}

.react-datepicker__header {
  background-color: #111 !important;
  border-bottom: 1px solid #1faa59 !important;
}

.react-datepicker__current-month {
  color: #1faa59 !important;
  font-weight: bold;
  font-size: 15px;
}

.react-datepicker__navigation-icon::before {
  border-color: #1faa59 !important; 
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day {
  border-radius: 6px !important;
  transition: 0.2s;
}

/* Hover */
.react-datepicker__day:hover {
  background-color: #1faa59 !important;
  color: black !important;
}

/* Día seleccionado */
.react-datepicker__day--selected {
  background-color: #1faa59 !important;
  color: black !important;
  font-weight: bold;
}

/* Día que NO pertenece al mes */
.react-datepicker__day--outside-month {
  opacity: 0.3 !important;
}

/* Día deshabilitado */
.react-datepicker__day--disabled {
  opacity: 0.3 !important;
  color: #777 !important;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #1faa59 !important;
  background-color: #000 !important;
  color: white !important;
  text-align: center;
  cursor: pointer;
}

/* Foco */
.react-datepicker__input-container input:focus {
  outline: none;
  box-shadow: 0 0 6px #1faa59;
}

@media (max-width: 480px) {
  .react-datepicker {
    width: 260px;
  }
}
